<h2 class="text-center">Danh sách khách hàng</h2>
<div class="text-center">
    <a href="trash" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Thùng rác</a>
</div>

<div class="row justify-content-center">
<div class="col-auto">
<table class="table table-responsive" >
  <thead>
    <tr>
      <th>Tên khách hàng</th>
      <th>Địa chỉ</th>
      <th>Email</th>
      <th>Số điện thoại</th>
      <th>Ngày tạo</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each customers}}
        <tr>
            <td>{{ this.name }}</td>
            <td>{{ this.address }}</td>
            <td>{{ this.email }}</td>
            <td>{{ this.phone }}</td>
            <td>{{ this.createAt }}</td>
            <td><a href="/customers/info/{{this._id}}" class="btn btn-link">Thông tin</a></td>
            <td><a href="/customers/edit/{{this._id}}" class="btn btn-link">Chỉnh sửa</a></td>
            <td><a href="" class="btn btn-link" data-id="{{this._id}}" data-toggle="modal" data-target="#delete-customer-modal">Xoá</a></td>
        </tr>
    {{else}}
        <td colspan="9" class="text-center">
            Không tìm thấy khách hàng.
            <a href="create">Thêm khách hàng</a>
        </td>
    {{/each}}
  </tbody>
</table>
</div>
</div>

{{!-- Confirm Delete --}}
<div id="delete-customer-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xoá khách hàng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có muốn xoá???</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-Customer" type="button" class="btn btn-danger">Xoá</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
            </div>
        </div>
    </div>
</div>

{{!-- Delete hidden form --}}
<form name="delete-customer-form" method="POST"></form>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var customerId;
        var deleteForm = document.forms['delete-customer-form'];
        var btnDeleteCustomer = document.getElementById('btn-delete-Customer');

        // When dialog show
        $('#delete-customer-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            customerId = button.data('id');
        });

        btnDeleteCustomer.onclick = function () {
            deleteForm.action = `/customers/${customerId}?_method=DELETE`;
            deleteForm.submit();
        }
    });
</script>