<h2>Danh Sách Xe</h2>
<a href="trash">Thùng Rác</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Tên Xe</th>
      <th>Hãng Sản Xuất</th>
      <th>Động Cơ</th>
      <th>Power</th>
      <th>Giá Bán</th>
      <th>Tốc Độ</th>
      <th>DateIn</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each cars}}
        <tr>
            <td>{{ this.name }}</td>
            <td>{{ this.manufacture }}</td>
            <td>{{ this.engine }}</td>
            <td>{{ this.power }}</td>
            <td>{{ this.price }}</td>
            <td>{{ this.topSpeed }}</td>
            <td>{{ this.createAt }}</td>
            <td><a href="/cars/edit/{{this._id}}" class="btn btn-link">Chỉnh Sửa</a></td>
            <td><a href="" class="btn btn-link" data-id="{{this._id}}" data-toggle="modal" data-target="#delete-car-modal">Xóa</a></td>
        </tr>
    {{else}}
        <td colspan="9" class="text-center">
            Không Tìm Thấy Xe.
            <a href="create">Thêm Xe Mới</a>
        </td>
    {{/each}}
  </tbody>
</table>

{{!-- Confirm Delete --}}
<div id="delete-car-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn Có Chắc Muốn Xóa Không???</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-Car" type="button" class="btn btn-danger">Xóa</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

{{!-- Delete hidden form --}}
<form name="delete-car-form" method="POST"></form>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var carId;
        var deleteForm = document.forms['delete-car-form'];
        var btnDeleteCar = document.getElementById('btn-delete-Car');

        // When dialog show
        $('#delete-car-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            carId = button.data('id');
        });

        btnDeleteCar.onclick = function () {
            deleteForm.action = `/cars/${carId}?_method=DELETE`;
            deleteForm.submit();
        }
    });
</script>